In [1]:
import pandas as pd
import numpy as np

In [2]:
gdp_per_capita=pd.read_csv("Inputs/GDP_Per_Capita.csv",header=4)

In [3]:
out_of_school_females=pd.read_csv("Inputs/EDULIT_DS_28042019225423638.csv")

In [4]:
child_mortality=pd.read_excel("Inputs/U5MR_mortality_rate_2018.xlsx",sheet_name=0,header=10)

In [5]:
# list(child_mortalic
mortality_2016_df=child_mortality[['ISO Code', 2016.5]].dropna()

In [47]:
out_of_school_females['Indicator'].unique()

array(['Rate of out-of-school children, adolescents and youth of primary and secondary school age, both sexes (%)',
       'Rate of out-of-school children, adolescents and youth of primary and secondary school age, female (%)',
       'Rate of out-of-school children, adolescents and youth of primary and secondary school age, male (%)',
       'Rate of out-of-school children, adolescents and youth of primary and secondary school age, adjusted gender parity index (GPIA)'],
      dtype=object)

In [48]:
female_ed=out_of_school_females[out_of_school_females['Indicator']=='Rate of out-of-school children, adolescents and youth of primary and secondary school age, female (%)']

In [49]:
female_ed=female_ed[female_ed['Time']==2016]

In [50]:
female_ed=female_ed[['LOCATION','Time','Value']]

In [51]:
female_ed.rename(columns={'Value':'% females out of school'},inplace=True)

In [52]:
female_ed.head()

    LOCATION  Time  % females out of school
16       BLR  2016                  1.36021
38       KOR  2016                  2.91483
85       POL  2016                  5.10942
90       TLS  2016                 18.87698
114      LAO  2016                 20.08096

In [46]:
mortality_2016_df.rename(columns={2016.5:'child_mortality_rate'},inplace=True)

In [12]:
mortality_2016_df.head()

  ISO Code  child_mortality_rate
0      AFG                  55.3
1      AFG                  70.4
2      AFG                  85.3
3      ALB                   8.6
4      ALB                   9.1

In [13]:
gdp_2016_df=gdp_per_capita[['Country Code','2016']].dropna()

In [14]:
gdp_2016_df.rename(columns={'2016':'GDP_Per_Capita'},inplace=True)

In [15]:
gdp_2016_df.head()

  Country Code  GDP_Per_Capita
0          ABW    25251.639680
1          AFG      549.582760
2          AGO     3509.604211
3          ALB     4131.872341
4          AND    37231.815670

In [16]:
total_df=pd.merge(female_ed,mortality_2016_df,left_on='LOCATION',right_on='ISO Code')

In [17]:
total_df=pd.merge(total_df,gdp_2016_df,left_on='LOCATION',right_on='Country Code')

In [18]:
total_df=total_df[['Country Code','% females out of school','GDP_Per_Capita','child_mortality_rate']]

In [19]:
total_df.head()

  Country Code  % females out of school  GDP_Per_Capita  child_mortality_rate
0          BLR                  1.36021     5025.405064                   3.7
1          BLR                  1.36021     5025.405064                   3.9
2          BLR                  1.36021     5025.405064                   4.1
3          KOR                  2.91483    27608.247430                   3.3
4          KOR                  2.91483    27608.247430                   3.4

In [20]:
X = total_df[['% females out of school','GDP_Per_Capita']]
y = total_df['child_mortality_rate'].values.reshape(-1, 1)
print(X.shape, y.shape)

(276, 2) (276, 1)

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [22]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [23]:
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.7276164260481632
Testing Score: 0.7040482456882966

In [24]:
model.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}

In [25]:
print('Coefficients: \n', model.coef_)

Coefficients:
 [[ 1.89759566e+00 -1.16300756e-04]]

In [26]:
model.coef_[0][0]

1.8975956589613174

In [27]:
model.coef_[0][1]

-0.00011630075646524969

In [28]:
child_mortality_2017=child_mortality[child_mortality['Uncertainty bounds*']=='Median']

In [29]:
child_mortality_2017.head()

,ISO Code,Country Name,Uncertainty bounds*,1950.5,1951.5,1952.5,1953.5,1954.5,1955.5,1956.5,...,2008.5,2009.5,2010.5,2011.5,2012.5,2013.5,2014.5,2015.5,2016.5,2017.5
1,AFG,Afghanistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.9,93.9,90.0,86.2,82.6,79.2,76.0,73.1,70.4,67.9
4,ALB,Albania,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.8,12.8,12.0,11.3,10.7,10.1,9.7,9.4,9.1,8.8
7,DZA,Algeria,Median,NaN,NaN,NaN,NaN,244.1,243.4,243.1,...,29.4,28.3,27.4,26.7,26.1,25.7,25.3,24.9,24.5,24.0
10,AND,Andorra,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.1,4.0,3.9,3.9,3.8,3.7,3.6,3.5,3.4,3.3
13,AGO,Angola,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,139.3,130.0,121.3,113.2,105.8,99.2,93.6,88.9,84.6,81.1

In [30]:
child_mortality_2017[['ISO Code','Country Name',2017.5]].to_csv('Under_5_Mortality_2017_withcountries.csv')

In [36]:
child_mortality_2017.sort_values(by=2017.5, ascending=False)[0:19]

,ISO Code,Country Name,Uncertainty bounds*,1950.5,1951.5,1952.5,1953.5,1954.5,1955.5,1956.5,...,2008.5,2009.5,2010.5,2011.5,2012.5,2013.5,2014.5,2015.5,2016.5,2017.5
481,SOM,Somalia,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,167.0,163.1,158.6,153.5,148.9,144.1,139.8,135.6,131.5,127.2
103,TCD,Chad,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,158.4,154.4,150.2,146.1,142.2,138.4,134.7,130.8,126.9,123.2
100,CAF,Central African Republic,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,158.4,154.9,150.9,146.8,142.9,139.0,134.8,130.2,125.0,121.5
466,SLE,Sierra Leone,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,180.5,171.9,163.2,154.3,145.6,137.3,129.4,122.2,115.9,110.5
319,MLI,Mali,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,147.7,141.5,135.7,130.7,125.9,121.6,117.7,113.7,109.6,106.0
379,NGA,Nigeria,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140.1,134.7,129.6,124.7,119.9,115.6,111.6,107.5,103.8,100.2
55,BEN,Benin,Median,343.6,341.6,340.3,338.9,337.2,335.5,333.5,...,116.7,115.0,113.6,112.2,110.5,108.5,106.2,103.7,101.0,98.3
487,SSD,South Sudan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119.2,112.9,107.1,102.1,98.6,96.9,96.4,96.4,96.4,96.4
142,COD,Democratic Republic of the Congo,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,124.5,120.2,116.1,112.1,108.3,104.7,101.0,97.6,94.4,91.1
166,GNQ,Equatorial Guinea,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.6,117.3,113.5,109.8,106.4,102.8,99.3,96.0,92.8,89.6
85,CIV,Cote d'Ivoire,Median,NaN,NaN,NaN,NaN,NaN,NaN,351.8,...,117.1,113.2,109.8,106.6,103.5,100.6,97.7,94.9,91.8,88.8
289,LSO,Lesotho,Median,NaN,NaN,227.0,220.6,214.3,208.5,203.0,...,117.1,110.0,99.2,98.4,97.4,95.8,94.7,93.8,88.9,85.9
214,GIN,Guinea,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116.8,112.7,108.8,105.1,101.6,98.2,94.9,91.7,88.7,85.7
376,NER,Niger,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,139.6,131.3,123.6,116.4,109.9,104.1,98.6,93.5,88.7,84.5
217,GNB,Guinea-Bissau,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,126.0,119.8,113.8,108.2,103.0,98.4,94.5,90.7,87.4,84.2
94,CMR,Cameroon,Median,NaN,NaN,NaN,NaN,339.4,327.0,315.2,...,119.7,115.4,110.4,105.8,101.5,97.4,93.8,90.1,86.8,84.0
79,BFA,Burkina Faso,Median,380.9,377.8,374.4,371.2,367.5,363.9,359.8,...,130.8,123.3,116.1,109.4,103.2,97.5,92.6,88.4,84.5,81.2
13,AGO,Angola,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,139.3,130.0,121.3,113.2,105.8,99.2,93.6,88.9,84.6,81.1
328,MRT,Mauritania,Median,308.6,303.9,299.0,293.7,288.3,282.6,276.4,...,103.1,100.6,97.9,95.0,92.3,89.5,86.8,84.1,81.5,79.0

In [68]:
country_mapping=child_mortality_2017[['ISO Code','Country Name']]

In [69]:
child_mortality_map_df=child_mortality_2017[['ISO Code',1990.5,1991.5,1992.5,1993.5,1994.5,1995.5,1996.5,1997.5,1998.5,1999.5,2000.5,2001.5,2002.5,2003.5,
 2004.5,2005.5,2006.5,2007.5,2008.5,2009.5,2010.5,2011.5,2012.5,2013.5,2014.5,2015.5,2016.5,2017.5]]

In [70]:
mortality_map_df=pd.DataFrame(child_mortality_map_df.set_index('ISO Code').stack())

In [52]:
mortality_map_df.reset_index(inplace=True)

In [56]:
mortality_map_df['level_1']=mortality_map_df['level_1'].astype(str).str[:-2].astype(np.int64)

In [59]:
mortality_map_df.rename(columns={'level_1':'Year',0:'Mortality'},inplace=True)

In [60]:
mortality_map_df.to_csv("Under_5_Mortality.csv")

In [63]:
len(mortality_map_df['ISO Code'].unique())

195

In [73]:
pd.merge(mortality_map_df,country_mapping,left_on='ISO Code',right_on='ISO Code').to_csv("Under_5_Mortality.csv")

In [82]:
child_deaths=pd.read_excel("Inputs/U5MR_deaths_2018.xls",sheet_name=1,header=12)

In [94]:
child_deaths=child_deaths.iloc[:36]

In [97]:
child_deaths=child_deaths[child_deaths['Uncertainty bounds*']=='Median']

In [101]:
child_deaths.rename(columns={1990.5:'1990',1991.5:'1991',1992.5:'1992',1993.5:'1993',1994.5:'1994',1995.5:'1995',1996.5:'1996',1997.5:'1997',1998.5:'1998',1999.5:'1999',2000.5:'2000',2001.5:'2001',2002.5:'2002',2003.5:'2003',2004.5:'2004',2005.5:'2005',2006.5:'2006',2007.5:'2007',2008.5:'2008',2009.5:'2009',2010.5:'2010',2011.5:'2011',2012.5:'2012',2013.5:'2013',2014.5:'2014',2015.5:'2015',2016.5:'2016',2017.5:'2017'},inplace=True)

C:\Users\mstos\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [103]:
child_deaths.to_csv('World_Deaths.csv')

In [105]:
child_deaths.drop('Uncertainty bounds*',axis=1,inplace=True)

C:\Users\mstos\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [110]:
# child_deaths.set_index('Region Name').transpose().to_csv('World_Deaths.csv')

In [111]:
child_deaths=child_deaths.set_index('Region Name').transpose()

In [119]:
child_deaths=child_deaths.reset_index().rename(columns={'index':'Year'})

In [121]:
child_deaths.to_csv('World_Deaths.csv')

In [122]:
child_deaths['World'].max()

12581804.0

In [105]:
female_ed_2017=female_ed[female_ed['Time']==2017]

In [106]:
female_ed_2017

,EDULIT_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
17,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",BLR,Belarus,2017,2017,2.16664,NaN,NaN
91,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",TLS,Timor-Leste,2017,2017,18.30340,NaN,NaN
115,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",LAO,Lao People's Democratic Republic,2017,2017,20.36477,NaN,NaN
201,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",SLV,El Salvador,2017,2017,22.63816,NaN,NaN
249,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",OMN,Oman,2017,2017,4.22952,NaN,NaN
258,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",BGD,Bangladesh,2017,2017,13.71993,‡,UIS Estimation
335,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",MDA,Republic of Moldova,2017,2017,17.06310,+,National Estimation
361,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",BOL,Bolivia (Plurinational State of),2017,2017,12.23217,NaN,NaN
367,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",SRB,Serbia,2017,2017,4.30745,+,National Estimation
428,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",HKG,"China, Hong Kong Special Administrative Region",2017,2017,3.79582,‡,UIS Estimation
456,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",IRN,Iran (Islamic Republic of),2017,2017,7.00131,NaN,NaN
527,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",SEN,Senegal,2017,2017,35.94305,NaN,NaN
532,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",NPL,Nepal,2017,2017,10.89662,NaN,NaN
537,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",BFA,Burkina Faso,2017,2017,38.72882,NaN,NaN
555,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",ERI,Eritrea,2017,2017,65.05220,NaN,NaN
579,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",PSE,Palestine,2017,2017,9.85675,NaN,NaN
607,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",EGY,Egypt,2017,2017,7.88026,NaN,NaN
663,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",BHR,Bahrain,2017,2017,1.89944,NaN,NaN
671,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",SLE,Sierra Leone,2017,2017,26.06764,NaN,NaN
689,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",UZB,Uzbekistan,2017,2017,6.92735,NaN,NaN
705,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",ISR,Israel,2017,2017,1.15962,NaN,NaN
765,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",CHL,Chile,2017,2017,6.01997,NaN,NaN
768,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",MUS,Mauritius,2017,2017,6.62776,‡,UIS Estimation
774,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",MEX,Mexico,2017,2017,9.23448,NaN,NaN
808,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",GRD,Grenada,2017,2017,9.56047,NaN,NaN
827,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",KGZ,Kyrgyzstan,2017,2017,5.42351,NaN,NaN
864,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",NZL,New Zealand,2017,2017,0.91665,NaN,NaN
875,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",VAT,Holy See,2017,2017,NaN,a,Category not applicable
939,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",MLI,Mali,2017,2017,49.79811,NaN,NaN
947,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",NER,Niger,2017,2017,56.09735,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2501,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40510,World,2017,2017,18.14774,NaN,NaN
2507,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40044,Low income countries,2017,2017,35.13702,NaN,NaN
2513,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40042,Lower middle income countries,2017,2017,22.08458,‡,UIS Estimation
2519,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40030,Middle income countries,2017,2017,16.99487,‡,UIS Estimation
2525,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40043,Upper middle income countries,2017,2017,8.32547,‡,UIS Estimation
2531,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40041,High income countries,2017,2017,3.15784,NaN,NaN
2543,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40530,Central and Eastern Europe,2017,2017,6.36014,NaN,NaN
2639,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40330,Landlocked Developing Countries,2017,2017,31.57975,NaN,NaN
2645,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40334,Least Developed Countries,2017,2017,32.60102,NaN,NaN
2651,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40606,Africa (Sub-Saharan),2017,2017,34.22873,NaN,NaN
2657,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40603,Africa (Northern),2017,2017,16.36147,NaN,NaN
2663,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40614,Asia (Western),2017,2017,19.88007,NaN,NaN
2669,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40618,Asia (Central and Southern),2017,2017,22.35526,‡,UIS Estimation
2675,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40612,Asia (Central),2017,2017,7.53842,NaN,NaN
2681,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40616,Asia (Southern),2017,2017,22.83660,‡,UIS Estimation
2687,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40619,Asia (Eastern and South-eastern),2017,2017,7.77641,‡,UIS Estimation
2693,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40611,Asia (Eastern),2017,2017,5.72372,‡,UIS Estimation
2699,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40630,Latin America and the Caribbean,2017,2017,9.23553,NaN,NaN
2705,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40650,Oceania,2017,2017,11.60854,NaN,NaN
2711,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40642,Northern America and Europe,2017,2017,3.38212,NaN,NaN
2717,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40620,Europe,2017,2017,3.37707,NaN,NaN
2723,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40550,Small Island Developing States,2017,2017,15.43305,NaN,NaN
2945,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40344,Small Island Developing States,2017,2017,15.56317,NaN,NaN
2951,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40675,World,2017,2017,18.14774,NaN,NaN
2957,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40651,Oceania (Australia/New Zealand),2017,2017,1.73255,NaN,NaN
2963,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40656,Oceania (excl. Australia/New Zealand),2017,2017,28.01300,NaN,NaN
2969,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40640,Northern America,2017,2017,3.39059,NaN,NaN
3071,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40617,Western Asia and Northern Africa,2017,2017,18.23238,NaN,NaN
3077,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",40613,Asia (South-eastern),2017,2017,11.10745,NaN,NaN
3108,ROFST_1T3_F_CP,"Rate of out-of-school children, adolescents an...",MNE,Montenegro,2017,2017,7.56742,NaN,NaN

In [107]:
females_primary=pd.read_csv("Inputs/EDULIT_DS_Primary.csv")

In [108]:
females_secondary['Indicator'].values

array(['Rate of out-of-school adolescents and youth of secondary school age, male (%)',
       'Rate of out-of-school adolescents and youth of secondary school age, male (%)',
       'Rate of out-of-school adolescents and youth of secondary school age, male (%)',
       ...,
       'Rate of out-of-school adolescents and youth of secondary school age, both sexes (%)',
       'Rate of out-of-school adolescents and youth of secondary school age, male (%)',
       'Rate of out-of-school adolescents and youth of secondary school age, both sexes (%)'],
      dtype=object)

In [109]:
female_primary_2017=females_primary[females_primary['Indicator']=='Rate of out-of-school children of primary school age, female (%)']

In [110]:
female_primary_2017=female_primary_2017[female_primary_2017['Time']==2017]

In [111]:
females_secondary=pd.read_csv("Inputs/EDULIT_DS_Secondary.csv")

In [112]:
female_secondary_2017=females_secondary[females_secondary['Indicator']=='Rate of out-of-school adolescents and youth of secondary school age, female (%)']

In [113]:
female_secondary_2017=female_secondary_2017[female_secondary_2017['Time']==2017]

In [114]:
female_primary_2017.dropna(subset=['Value'],inplace=True)

In [115]:
female_secondary_2017.dropna(subset=['Value'],inplace=True)

In [116]:
female_ed_2017.dropna(subset=['Value'],inplace=True)

C:\Users\mstos\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [117]:
all_df=pd.merge(female_ed_2017,female_secondary_2017,left_on='LOCATION',right_on='LOCATION')

In [118]:
total_df=pd.merge(all_df,female_primary_2017,left_on='LOCATION',right_on='LOCATION')

In [119]:
list(total_df)

['EDULIT_IND_x',
 'Indicator_x',
 'LOCATION',
 'Country_x',
 'TIME_x',
 'Time_x',
 'Value_x',
 'Flag Codes_x',
 'Flags_x',
 'EDULIT_IND_y',
 'Indicator_y',
 'Country_y',
 'TIME_y',
 'Time_y',
 'Value_y',
 'Flag Codes_y',
 'Flags_y',
 'EDULIT_IND',
 'Indicator',
 'Country',
 'TIME',
 'Time',
 'Value',
 'Flag Codes',
 'Flags']

In [120]:
total_df.drop(['EDULIT_IND_x',
 'TIME_x',
 'Flag Codes_x',
 'Flags_x',
 'EDULIT_IND_y',

 'Country_y',
 'TIME_y',
 'Time_y',

 'Flag Codes_y',
 'Flags_y',
 'EDULIT_IND',

 'Country',
 'TIME',
 'Time',

 'Flag Codes',
 'Flags'], axis=1,inplace=True)

In [121]:
mortality_2017=child_mortality_2017.dropna(subset=[2017.5])

In [122]:
mortality_2017

,ISO Code,Country Name,Uncertainty bounds*,1950.5,1951.5,1952.5,1953.5,1954.5,1955.5,1956.5,...,2008.5,2009.5,2010.5,2011.5,2012.5,2013.5,2014.5,2015.5,2016.5,2017.5
1,AFG,Afghanistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.9,93.9,90.0,86.2,82.6,79.2,76.0,73.1,70.4,67.9
4,ALB,Albania,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.8,12.8,12.0,11.3,10.7,10.1,9.7,9.4,9.1,8.8
7,DZA,Algeria,Median,NaN,NaN,NaN,NaN,244.1,243.4,243.1,...,29.4,28.3,27.4,26.7,26.1,25.7,25.3,24.9,24.5,24.0
10,AND,Andorra,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.1,4.0,3.9,3.9,3.8,3.7,3.6,3.5,3.4,3.3
13,AGO,Angola,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,139.3,130.0,121.3,113.2,105.8,99.2,93.6,88.9,84.6,81.1
16,ATG,Antigua and Barbuda,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.7,10.3,9.8,9.5,9.1,8.7,8.3,8.0,7.7,7.4
19,ARG,Argentina,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.4,15.0,14.5,13.9,13.3,12.7,12.0,11.4,10.9,10.4
22,ARM,Armenia,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,19.0,18.0,17.1,16.3,15.5,14.7,14.0,13.3,12.6
25,AUS,Australia,Median,31.6,31.0,30.3,29.5,28.7,28.0,27.3,...,5.2,5.0,4.8,4.6,4.3,4.2,4.0,3.8,3.7,3.5
28,AUT,Austria,Median,NaN,NaN,NaN,NaN,54.9,53.3,51.7,...,4.5,4.4,4.3,4.2,4.1,3.9,3.8,3.7,3.6,3.6
31,AZE,Azerbaijan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42.7,40.0,37.4,35.0,32.6,30.4,28.4,26.4,24.6,23.0
34,BHS,Bahamas,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.3,12.5,11.7,10.8,10.0,9.3,8.6,8.0,7.6,7.2
37,BHR,Bahrain,Median,NaN,NaN,NaN,NaN,NaN,NaN,282.8,...,9.3,8.9,8.5,8.2,8.0,7.8,7.7,7.6,7.5,7.3
40,BGD,Bangladesh,Median,344.6,334.4,324.6,314.8,305.6,297.0,288.7,...,55.6,52.3,49.2,46.3,43.6,41.0,38.6,36.4,34.3,32.4
43,BRB,Barbados,Median,NaN,NaN,NaN,NaN,169.2,145.6,126.4,...,15.0,14.8,14.5,14.2,14.0,13.7,13.4,13.1,12.8,12.4
46,BLR,Belarus,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.6,6.0,5.5,5.1,4.8,4.5,4.3,4.1,3.9,3.7
49,BEL,Belgium,Median,NaN,NaN,NaN,51.3,48.3,45.5,42.7,...,4.7,4.6,4.5,4.4,4.3,4.2,4.1,4.0,3.9,3.8
52,BLZ,Belize,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.9,19.5,19.0,18.4,17.8,17.1,16.4,15.6,14.9,14.2
55,BEN,Benin,Median,343.6,341.6,340.3,338.9,337.2,335.5,333.5,...,116.7,115.0,113.6,112.2,110.5,108.5,106.2,103.7,101.0,98.3
58,BTN,Bhutan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.1,45.1,42.5,40.1,38.1,36.4,34.8,33.4,32.0,30.8
61,BOL,Bolivia (Plurinational State of),Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.1,48.4,46.0,44.0,42.2,40.5,39.0,37.5,36.1,34.9
64,BIH,Bosnia and Herzegovina,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.9,7.5,7.2,6.8,6.6,6.4,6.2,6.0,5.9,5.7
67,BWA,Botswana,Median,NaN,NaN,NaN,NaN,206.3,199.3,192.6,...,59.3,55.6,49.9,48.8,46.0,43.1,42.2,40.6,39.3,37.6
70,BRA,Brazil,Median,NaN,NaN,NaN,NaN,NaN,195.6,189.9,...,20.7,19.6,18.7,17.9,17.3,16.7,16.2,15.7,16.3,14.8
73,BRN,Brunei Darussalam,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.9,10.7,10.6,10.5,10.5,10.5,10.5,10.5,10.5,10.5
76,BGR,Bulgaria,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.5,11.1,10.7,10.3,9.8,9.3,8.8,8.3,7.9,7.5
79,BFA,Burkina Faso,Median,380.9,377.8,374.4,371.2,367.5,363.9,359.8,...,130.8,123.3,116.1,109.4,103.2,97.5,92.6,88.4,84.5,81.2
82,BDI,Burundi,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.4,96.7,90.6,85.1,79.9,75.2,70.8,67.1,63.9,61.2
85,CIV,Cote d'Ivoire,Median,NaN,NaN,NaN,NaN,NaN,NaN,351.8,...,117.1,113.2,109.8,106.6,103.5,100.6,97.7,94.9,91.8,88.8
88,CPV,Cabo Verde,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.0,25.7,25.1,24.3,23.3,22.2,21.0,19.7,18.5,17.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,SDN,Sudan,Median,NaN,NaN,NaN,198.3,194.9,191.7,188.4,...,81.1,78.9,76.8,74.8,72.9,71.0,69.1,67.1,65.2,63.2
502,SUR,Suriname,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.2,25.4,24.6,23.8,23.0,22.2,21.6,20.9,20.2,19.6
505,SWE,Sweden,Median,27.2,25.7,24.3,23.2,22.3,21.6,21.1,...,3.2,3.1,3.0,3.0,3.0,2.9,2.9,2.9,2.9,2.8
508,CHE,Switzerland,Median,38.5,37.2,35.8,34.5,33.1,31.7,30.2,...,4.7,4.6,4.6,4.5,4.4,4.4,4.4,4.3,4.3,4.2
511,SYR,Syrian Arab Republic,Median,NaN,NaN,NaN,248.9,235.9,223.4,211.5,...,16.6,16.2,16.0,16.2,17.7,17.6,17.5,17.2,17.5,17.0
514,TJK,Tajikistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.3,44.8,42.8,41.0,39.5,38.2,37.0,35.8,34.6,33.6
517,THA,Thailand,Median,207.8,200.7,193.8,187.0,180.6,174.5,168.6,...,14.7,14.0,13.3,12.7,12.1,11.5,11.0,10.4,10.0,9.5
520,MKD,The former Yugoslav Republic of Macedonia,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.5,10.9,10.4,10.3,10.4,10.8,11.4,12.2,13.0,13.7
523,TLS,Timor-Leste,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,68.6,65.2,62.2,59.6,57.2,55.1,52.9,51.2,49.4,47.6
526,TGO,Togo,Median,316.6,311.6,306.8,302.1,297.5,292.8,288.1,...,95.9,93.1,90.4,87.7,85.1,82.6,80.1,77.7,75.3,72.9
529,TON,Tonga,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.9,17.1,17.4,17.5,17.5,17.3,17.1,16.7,16.4,16.0
532,TTO,Trinidad and Tobago,Median,NaN,NaN,NaN,86.1,83.1,80.2,77.4,...,32.4,32.0,31.4,30.7,30.0,29.2,28.5,27.7,26.9,26.1
535,TUN,Tunisia,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.4,18.3,17.4,16.5,15.8,15.1,14.5,14.0,13.5,13.0
538,TUR,Turkey,Median,NaN,NaN,NaN,307.0,300.4,293.6,287.0,...,22.1,20.6,19.2,17.9,16.6,15.5,14.4,13.4,12.5,11.6
541,TKM,Turkmenistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.6,61.4,59.4,57.5,55.8,54.0,52.2,50.5,48.8,47.3
544,TUV,Tuvalu,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.1,32.2,31.1,30.1,29.2,28.3,27.4,26.6,25.7,24.9
547,UGA,Uganda,Median,NaN,NaN,NaN,NaN,253.6,247.9,242.4,...,88.8,83.4,78.0,73.0,67.3,62.7,59.0,55.3,51.6,49.0
550,UKR,Ukraine,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.9,12.3,11.7,11.2,10.7,10.2,9.8,9.4,9.1,8.8
553,ARE,United Arab Emirates,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.8,8.6,8.4,8.3,8.2,8.3,8.5,8.7,9.0,9.1
556,GBR,United Kingdom,Median,36.6,35.1,33.6,32.1,30.8,29.6,28.7,...,5.6,5.4,5.2,5.0,4.8,4.6,4.5,4.5,4.4,4.3
559,TZA,United Republic of Tanzania,Median,NaN,260.6,258.7,256.8,254.6,252.5,250.5,...,80.5,76.9,73.4,69.5,66.2,63.6,61.3,58.3,56.1,54.0
562,USA,United States,Median,37.7,36.6,35.7,34.7,33.8,33.0,32.3,...,7.6,7.5,7.3,7.2,7.1,7.0,6.9,6.8,6.7,6.6
565,URY,Uruguay,Median,NaN,NaN,NaN,NaN,58.8,60.6,62.3,...,11.9,11.2,10.7,10.2,9.9,9.6,9.3,8.9,8.6,8.2
568,UZB,Uzbekistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.1,38.6,36.2,33.8,31.6,29.5,27.5,25.6,23.9,22.5
571,VUT,Vanuatu,Median,NaN,NaN,180.4,176.9,173.6,170.6,167.3,...,28.8,29.0,29.1,29.3,29.3,29.1,28.7,28.2,27.6,26.9
574,VEN,Venezuela (Bolivarian Republic of)**,Median,NaN,118.9,113.3,108.1,103.0,98.4,93.9,...,17.0,16.8,16.6,16.6,17.0,17.9,19.7,22.5,26.4,30.9
577,VNM,Viet Nam,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.5,23.2,22.9,22.7,22.4,22.2,21.9,21.6,21.3,20.9
580,YEM,Yemen,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.3,58.4,56.4,55.5,55.4,55.4,55.4,55.4,55.4,55.4
583,ZMB,Zambia,Median,NaN,NaN,NaN,NaN,231.8,227.3,222.9,...,93.3,88.0,82.4,78.6,74.9,71.6,68.0,64.9,62.4,60.0
586,ZWE,Zimbabwe,Median,NaN,NaN,NaN,NaN,175.5,171.4,167.3,...,96.9,92.7,87.5,81.2,73.8,66.8,61.1,57.0,53.3,50.3

In [123]:
mortality_2017.drop(['Country Name',
 'Uncertainty bounds*',
 1950.5,
 1951.5,
 1952.5,
 1953.5,
 1954.5,
 1955.5,
 1956.5,
 1957.5,
 1958.5,
 1959.5,
 1960.5,
 1961.5,
 1962.5,
 1963.5,
 1964.5,
 1965.5,
 1966.5,
 1967.5,
 1968.5,
 1969.5,
 1970.5,
 1971.5,
 1972.5,
 1973.5,
 1974.5,
 1975.5,
 1976.5,
 1977.5,
 1978.5,
 1979.5,
 1980.5,
 1981.5,
 1982.5,
 1983.5,
 1984.5,
 1985.5,
 1986.5,
 1987.5,
 1988.5,
 1989.5,
 1990.5,
 1991.5,
 1992.5,
 1993.5,
 1994.5,
 1995.5,
 1996.5,
 1997.5,
 1998.5,
 1999.5,
 2000.5,
 2001.5,
 2002.5,
 2003.5,
 2004.5,
 2005.5,
 2006.5,
 2007.5,
 2008.5,
 2009.5,
 2010.5,
 2011.5,
 2012.5,
 2013.5,
 2014.5,
 2015.5,
 2016.5,],axis=1,inplace=True)

In [124]:
mortality_2017

    ISO Code  2017.5
1        AFG    67.9
4        ALB     8.8
7        DZA    24.0
10       AND     3.3
13       AGO    81.1
16       ATG     7.4
19       ARG    10.4
22       ARM    12.6
25       AUS     3.5
28       AUT     3.6
31       AZE    23.0
34       BHS     7.2
37       BHR     7.3
40       BGD    32.4
43       BRB    12.4
46       BLR     3.7
49       BEL     3.8
52       BLZ    14.2
55       BEN    98.3
58       BTN    30.8
61       BOL    34.9
64       BIH     5.7
67       BWA    37.6
70       BRA    14.8
73       BRN    10.5
76       BGR     7.5
79       BFA    81.2
82       BDI    61.2
85       CIV    88.8
88       CPV    17.4
..       ...     ...
499      SDN    63.2
502      SUR    19.6
505      SWE     2.8
508      CHE     4.2
511      SYR    17.0
514      TJK    33.6
517      THA     9.5
520      MKD    13.7
523      TLS    47.6
526      TGO    72.9
529      TON    16.0
532      TTO    26.1
535      TUN    13.0
538      TUR    11.6
541      TKM    47.3
544      TUV    24.9
547      UGA    49.0
550      UKR     8.8
553      ARE     9.1
556      GBR     4.3
559      TZA    54.0
562      USA     6.6
565      URY     8.2
568      UZB    22.5
571      VUT    26.9
574      VEN    30.9
577      VNM    20.9
580      YEM    55.4
583      ZMB    60.0
586      ZWE    50.3

[195 rows x 2 columns]

In [149]:
final_df=pd.merge(total_df,mortality_2017,left_on='LOCATION',right_on='ISO Code')

In [150]:
final_df

,Indicator_x,LOCATION,Country_x,Time_x,Value_x,Indicator_y,Value_y,Indicator,Value,ISO Code,2017.5
0,"Rate of out-of-school children, adolescents an...",BLR,Belarus,2017,2.16664,Rate of out-of-school adolescents and youth of...,0.83413,Rate of out-of-school children of primary scho...,4.17454,BLR,3.7
1,"Rate of out-of-school children, adolescents an...",TLS,Timor-Leste,2017,18.30340,Rate of out-of-school adolescents and youth of...,18.97799,Rate of out-of-school children of primary scho...,17.72786,TLS,47.6
2,"Rate of out-of-school children, adolescents an...",LAO,Lao People's Democratic Republic,2017,20.36477,Rate of out-of-school adolescents and youth of...,30.31043,Rate of out-of-school children of primary scho...,7.17883,LAO,63.4
3,"Rate of out-of-school children, adolescents an...",SLV,El Salvador,2017,22.63816,Rate of out-of-school adolescents and youth of...,26.74156,Rate of out-of-school children of primary scho...,18.22823,SLV,14.5
4,"Rate of out-of-school children, adolescents an...",OMN,Oman,2017,4.22952,Rate of out-of-school adolescents and youth of...,8.17006,Rate of out-of-school children of primary scho...,1.02755,OMN,11.3
5,"Rate of out-of-school children, adolescents an...",BGD,Bangladesh,2017,13.71993,Rate of out-of-school adolescents and youth of...,21.91579,Rate of out-of-school children of primary scho...,1.71894,BGD,32.4
6,"Rate of out-of-school children, adolescents an...",MDA,Republic of Moldova,2017,17.06310,Rate of out-of-school adolescents and youth of...,20.93937,Rate of out-of-school children of primary scho...,10.39165,MDA,15.5
7,"Rate of out-of-school children, adolescents an...",BOL,Bolivia (Plurinational State of),2017,12.23217,Rate of out-of-school adolescents and youth of...,16.55818,Rate of out-of-school children of primary scho...,8.02437,BOL,34.9
8,"Rate of out-of-school children, adolescents an...",SRB,Serbia,2017,4.30745,Rate of out-of-school adolescents and youth of...,5.70638,Rate of out-of-school children of primary scho...,1.35800,SRB,5.7
9,"Rate of out-of-school children, adolescents an...",SEN,Senegal,2017,35.94305,Rate of out-of-school adolescents and youth of...,52.18489,Rate of out-of-school children of primary scho...,20.59842,SEN,45.4
10,"Rate of out-of-school children, adolescents an...",NPL,Nepal,2017,10.89662,Rate of out-of-school adolescents and youth of...,13.75117,Rate of out-of-school children of primary scho...,6.58225,NPL,33.7
11,"Rate of out-of-school children, adolescents an...",BFA,Burkina Faso,2017,38.72882,Rate of out-of-school adolescents and youth of...,54.51472,Rate of out-of-school children of primary scho...,23.92632,BFA,81.2
12,"Rate of out-of-school children, adolescents an...",ERI,Eritrea,2017,65.05220,Rate of out-of-school adolescents and youth of...,65.93804,Rate of out-of-school children of primary scho...,64.03557,ERI,43.1
13,"Rate of out-of-school children, adolescents an...",PSE,Palestine,2017,9.85675,Rate of out-of-school adolescents and youth of...,11.88789,Rate of out-of-school children of primary scho...,6.27012,PSE,20.9
14,"Rate of out-of-school children, adolescents an...",EGY,Egypt,2017,7.88026,Rate of out-of-school adolescents and youth of...,15.76566,Rate of out-of-school children of primary scho...,0.83096,EGY,22.1
15,"Rate of out-of-school children, adolescents an...",BHR,Bahrain,2017,1.89944,Rate of out-of-school adolescents and youth of...,2.65011,Rate of out-of-school children of primary scho...,1.27283,BHR,7.3
16,"Rate of out-of-school children, adolescents an...",UZB,Uzbekistan,2017,6.92735,Rate of out-of-school adolescents and youth of...,9.49598,Rate of out-of-school children of primary scho...,2.27730,UZB,22.5
17,"Rate of out-of-school children, adolescents an...",CHL,Chile,2017,6.01997,Rate of out-of-school adolescents and youth of...,6.95289,Rate of out-of-school children of primary scho...,5.06774,CHL,7.4
18,"Rate of out-of-school children, adolescents an...",MUS,Mauritius,2017,6.62776,Rate of out-of-school adolescents and youth of...,9.35899,Rate of out-of-school children of primary scho...,2.72192,MUS,13.1
19,"Rate of out-of-school children, adolescents an...",MEX,Mexico,2017,9.23448,Rate of out-of-school adolescents and youth of...,18.13186,Rate of out-of-school children of primary scho...,0.09136,MEX,13.4
20,"Rate of out-of-school children, adolescents an...",KGZ,Kyrgyzstan,2017,5.42351,Rate of out-of-school adolescents and youth of...,7.98946,Rate of out-of-school children of primary scho...,1.71944,KGZ,20.0
21,"Rate of out-of-school children, adolescents an...",NZL,New Zealand,2017,0.91665,Rate of out-of-school adolescents and youth of...,1.25117,Rate of out-of-school children of primary scho...,0.54458,NZL,5.3
22,"Rate of out-of-school children, adolescents an...",MLI,Mali,2017,49.79811,Rate of out-of-school adolescents and youth of...,66.88300,Rate of out-of-school children of primary scho...,36.53370,MLI,106.0
23,"Rate of out-of-school children, adolescents an...",NER,Niger,2017,56.09735,Rate of out-of-school adolescents and youth of...,76.70406,Rate of out-of-school children of primary scho...,37.96412,NER,84.5
24,"Rate of out-of-school children, adolescents an...",CPV,Cabo Verde,2017,20.30752,Rate of out-of-school adolescents and youth of...,25.99019,Rate of out-of-school children of primary scho...,14.49037,CPV,17.4
25,"Rate of out-of-school children, adolescents an...",ALB,Albania,2017,7.72707,Rate of out-of-school adolescents and youth of...,9.96525,Rate of out-of-school children of primary scho...,3.54685,ALB,8.8
26,"Rate of out-of-school children, adolescents an...",BDI,Burundi,2017,19.44688,Rate of out-of-school adolescents and youth of...,41.83737,Rate of out-of-school children of primary scho...,1.73171,BDI,61.2
27,"Rate of out-of-school children, adolescents an...",HND,Honduras,2017,28.74502,Rate of out-of-school adolescents and youth of...,41.64573,Rate of out-of-school children of primary scho...,15.51183,HND,18.2
28,"Rate of out-of-school children, adolescents an...",MRT,Mauritania,2017,38.42490,Rate of out-of-school adolescents and youth of...,55.54458,Rate of out-of-school children of primary scho...,21.51726,MRT,79.0
29,"Rate of out-of-school children, adolescents an...",COL,Colombia,2017,7.35868,Rate of out-of-school adolescents and youth of...,8.51505,Rate of out-of-school children of primary scho...,5.90496,COL,14.7
30,"Rate of out-of-school children, adolescents an...",BRN,Brunei Darussalam,2017,8.43302,Rate of out-of-school adolescents and youth of...,12.09012,Rate of out-of-school children of primary scho...,3.78184,BRN,10.5
31,"Rate of out-of-school children, adolescents an...",BLZ,Belize,2017,10.27449,Rate of out-of-school adolescents and youth of...,18.98195,Rate of out-of-school children of primary scho...,1.10702,BLZ,14.2
32,"Rate of out-of-school children, adolescents an...",BRB,Barbados,2017,5.23404,Rate of out-of-school adolescents and youth of...,0.24908,Rate of out-of-school children of primary scho...,9.48555,BRB,12.4
33,"Rate of out-of-school children, adolescents an...",VEN,Venezuela (Bolivarian Republic of),2017,16.43338,Rate of out-of-school adolescents and youth of...,19.53462,Rate of out-of-school children of primary scho...,13.92018,VEN,30.9
34,"Rate of out-of-school children, adolescents an...",QAT,Qatar,2017,6.24779,Rate of out-of-school adolescents and youth of...,12.17443,Rate of out-of-school children of primary scho...,1.74021,QAT,7.6
35,"Rate of out-of-school children, adolescents an...",BTN,Bhutan,2017,16.52545,Rate of out-of-school adolescents and youth of...,15.48921,Rate of out-of-school children of primary scho...,17.41901,BTN,30.8
36,"Rate of out-of-school children, adolescents an...",GTM,Guatemala,2017,29.82372,Rate of out-of-school adolescents and youth of...,48.13072,Rate of out-of-school children of primary scho...,11.55852,GTM,27.6
37,"Rate of out-of-school children, adolescents an...",AUS,Australia,2017,2.10905,Rate of out-of-school adolescents and youth of...,1.20217,Rate of out-of-school children of primary scho...,2.83500,AUS,3.5
38,"Rate of out-of-school children, adolescents an...",CUB,Cuba,2017,5.43462,Rate of out-of-school adolescents and youth of...,7.64190,Rate of out-of-school children of primary scho...,3.04172,CUB,5.4
39,"Rate of out-of-school children, adolescents an...",DOM,Dominican Republic,2017,10.70464,Rate of out-of-school adolescents and youth of...,15.86069,Rate of out-of-school children of primary scho...,5.52979,DOM,29.9
40,"Rate of out-of-school children, adolescents an...",GHA,Ghana,2017,18.42912,Rate of out-of-school adolescents and youth of...,23.38460,Rate of out-of-school children of primary scho...,14.11932,GHA,49.3
41,"Rate of out-of-school children, adolescents an...",NOR,Norway,2017,2.08436,Rate of out-of-school adolescents and youth of...,4.30586,Rate of out-of-school children of primary scho...,0.16893,NOR,2.6
42,"Rate of out-of-school children, adolescents an...",MYS,Malaysia,2017,11.79871,Rate of out-of-school adolescents and youth of...,21.72850,Rate of out-of-school children of primary scho...,1.23454,MYS,7.9
43,"Rate of out-of-school children, adolescents an...",PAK,Pakistan,2017,46.09597,Rate of out-of-school adolescents and youth of...,59.86423,Rate of out-of-school children of primary scho...,29.39304,PAK,74.9
44,"Rate of out-of-school children, adolescents an...",LVA,Latvia,2017,2.18054,Rate of out-of-school adolescents and youth of...,2.18362,Rate of out-of-school children of primary scho...,2.17788,LVA,4.2
45,"Rate of out-of-school children, adolescents an...",MAR,Morocco,2017,13.07011,Rate of out-of-school adolescents and youth of...,23.26956,Rate of out-of-school children of primary scho...,3.34856,MAR,23.3
46,"Rate of out-of-school children, adolescents an...",CIV,Côte d'Ivoire,2017,36.16957,Rate of out-of-school adolescents and youth of...,57.29324,Rate of out-of-school children of primary scho...,15.08671,CIV,88.8
47,"Rate of out-of-school children, adolescents an...",ATG,Antigua and Barbuda,2017,19.99191,Rate of out-of-school adolescents and youth of...,23.50154,Rate of out-of-school children of primary scho...,17.37595,ATG,7.4
48,"Rate of out-of-school children, adolescents an...",VCT,Saint Vincent and the Grenadines,2017,4.54130,Rate of out-of-school adolescents and youth of...,7.73983,Rate of out-of-school children of primary scho...,2.20901,VCT,16.2
49,"Rate of out-of-school children, adolescents an...",TGO,Togo,2017,26.78281,Rate of out-of-school adolescents and youth of...,43.07798,Rate of out-of-school children of primary scho...,11.26805,TGO,72.9
50,"Rate of out-of-school children, adolescents an...",COM,Comoros,2017,28.00023,Rate of out-of-school adolescents and youth of...,39.64952,Rate of out-of-school children of primary scho...,16.40568,COM,69.0
51,"Rate of out-of-school children, adolescents an...",MNE,Montenegro,2017,7.56742,Rate of out-of-school adolescents and youth of...,9.71277,Rate of out-of-school children of primary scho...,4.06977,MNE,3.5

In [151]:
final_df['Indicator_x'][0]

'Rate of out-of-school children, adolescents and youth of primary and secondary school age, female (%)'

In [152]:
final_df['Indicator_y'][0]

'Rate of out-of-school adolescents and youth of secondary school age, female (%)'

In [153]:
final_df['Indicator'][0]

'Rate of out-of-school children of primary school age, female (%)'

In [154]:
final_df.rename(columns={'LOCATION':'CountryCode','Country_x':'Country','Value_x':'Both','Value_y':'Secondary','Value':'Primary',2017.5:'Mortality'},inplace=True)

In [155]:
final_df

,Indicator_x,CountryCode,Country,Time_x,Both,Indicator_y,Secondary,Indicator,Primary,ISO Code,Mortality
0,"Rate of out-of-school children, adolescents an...",BLR,Belarus,2017,2.16664,Rate of out-of-school adolescents and youth of...,0.83413,Rate of out-of-school children of primary scho...,4.17454,BLR,3.7
1,"Rate of out-of-school children, adolescents an...",TLS,Timor-Leste,2017,18.30340,Rate of out-of-school adolescents and youth of...,18.97799,Rate of out-of-school children of primary scho...,17.72786,TLS,47.6
2,"Rate of out-of-school children, adolescents an...",LAO,Lao People's Democratic Republic,2017,20.36477,Rate of out-of-school adolescents and youth of...,30.31043,Rate of out-of-school children of primary scho...,7.17883,LAO,63.4
3,"Rate of out-of-school children, adolescents an...",SLV,El Salvador,2017,22.63816,Rate of out-of-school adolescents and youth of...,26.74156,Rate of out-of-school children of primary scho...,18.22823,SLV,14.5
4,"Rate of out-of-school children, adolescents an...",OMN,Oman,2017,4.22952,Rate of out-of-school adolescents and youth of...,8.17006,Rate of out-of-school children of primary scho...,1.02755,OMN,11.3
5,"Rate of out-of-school children, adolescents an...",BGD,Bangladesh,2017,13.71993,Rate of out-of-school adolescents and youth of...,21.91579,Rate of out-of-school children of primary scho...,1.71894,BGD,32.4
6,"Rate of out-of-school children, adolescents an...",MDA,Republic of Moldova,2017,17.06310,Rate of out-of-school adolescents and youth of...,20.93937,Rate of out-of-school children of primary scho...,10.39165,MDA,15.5
7,"Rate of out-of-school children, adolescents an...",BOL,Bolivia (Plurinational State of),2017,12.23217,Rate of out-of-school adolescents and youth of...,16.55818,Rate of out-of-school children of primary scho...,8.02437,BOL,34.9
8,"Rate of out-of-school children, adolescents an...",SRB,Serbia,2017,4.30745,Rate of out-of-school adolescents and youth of...,5.70638,Rate of out-of-school children of primary scho...,1.35800,SRB,5.7
9,"Rate of out-of-school children, adolescents an...",SEN,Senegal,2017,35.94305,Rate of out-of-school adolescents and youth of...,52.18489,Rate of out-of-school children of primary scho...,20.59842,SEN,45.4
10,"Rate of out-of-school children, adolescents an...",NPL,Nepal,2017,10.89662,Rate of out-of-school adolescents and youth of...,13.75117,Rate of out-of-school children of primary scho...,6.58225,NPL,33.7
11,"Rate of out-of-school children, adolescents an...",BFA,Burkina Faso,2017,38.72882,Rate of out-of-school adolescents and youth of...,54.51472,Rate of out-of-school children of primary scho...,23.92632,BFA,81.2
12,"Rate of out-of-school children, adolescents an...",ERI,Eritrea,2017,65.05220,Rate of out-of-school adolescents and youth of...,65.93804,Rate of out-of-school children of primary scho...,64.03557,ERI,43.1
13,"Rate of out-of-school children, adolescents an...",PSE,Palestine,2017,9.85675,Rate of out-of-school adolescents and youth of...,11.88789,Rate of out-of-school children of primary scho...,6.27012,PSE,20.9
14,"Rate of out-of-school children, adolescents an...",EGY,Egypt,2017,7.88026,Rate of out-of-school adolescents and youth of...,15.76566,Rate of out-of-school children of primary scho...,0.83096,EGY,22.1
15,"Rate of out-of-school children, adolescents an...",BHR,Bahrain,2017,1.89944,Rate of out-of-school adolescents and youth of...,2.65011,Rate of out-of-school children of primary scho...,1.27283,BHR,7.3
16,"Rate of out-of-school children, adolescents an...",UZB,Uzbekistan,2017,6.92735,Rate of out-of-school adolescents and youth of...,9.49598,Rate of out-of-school children of primary scho...,2.27730,UZB,22.5
17,"Rate of out-of-school children, adolescents an...",CHL,Chile,2017,6.01997,Rate of out-of-school adolescents and youth of...,6.95289,Rate of out-of-school children of primary scho...,5.06774,CHL,7.4
18,"Rate of out-of-school children, adolescents an...",MUS,Mauritius,2017,6.62776,Rate of out-of-school adolescents and youth of...,9.35899,Rate of out-of-school children of primary scho...,2.72192,MUS,13.1
19,"Rate of out-of-school children, adolescents an...",MEX,Mexico,2017,9.23448,Rate of out-of-school adolescents and youth of...,18.13186,Rate of out-of-school children of primary scho...,0.09136,MEX,13.4
20,"Rate of out-of-school children, adolescents an...",KGZ,Kyrgyzstan,2017,5.42351,Rate of out-of-school adolescents and youth of...,7.98946,Rate of out-of-school children of primary scho...,1.71944,KGZ,20.0
21,"Rate of out-of-school children, adolescents an...",NZL,New Zealand,2017,0.91665,Rate of out-of-school adolescents and youth of...,1.25117,Rate of out-of-school children of primary scho...,0.54458,NZL,5.3
22,"Rate of out-of-school children, adolescents an...",MLI,Mali,2017,49.79811,Rate of out-of-school adolescents and youth of...,66.88300,Rate of out-of-school children of primary scho...,36.53370,MLI,106.0
23,"Rate of out-of-school children, adolescents an...",NER,Niger,2017,56.09735,Rate of out-of-school adolescents and youth of...,76.70406,Rate of out-of-school children of primary scho...,37.96412,NER,84.5
24,"Rate of out-of-school children, adolescents an...",CPV,Cabo Verde,2017,20.30752,Rate of out-of-school adolescents and youth of...,25.99019,Rate of out-of-school children of primary scho...,14.49037,CPV,17.4
25,"Rate of out-of-school children, adolescents an...",ALB,Albania,2017,7.72707,Rate of out-of-school adolescents and youth of...,9.96525,Rate of out-of-school children of primary scho...,3.54685,ALB,8.8
26,"Rate of out-of-school children, adolescents an...",BDI,Burundi,2017,19.44688,Rate of out-of-school adolescents and youth of...,41.83737,Rate of out-of-school children of primary scho...,1.73171,BDI,61.2
27,"Rate of out-of-school children, adolescents an...",HND,Honduras,2017,28.74502,Rate of out-of-school adolescents and youth of...,41.64573,Rate of out-of-school children of primary scho...,15.51183,HND,18.2
28,"Rate of out-of-school children, adolescents an...",MRT,Mauritania,2017,38.42490,Rate of out-of-school adolescents and youth of...,55.54458,Rate of out-of-school children of primary scho...,21.51726,MRT,79.0
29,"Rate of out-of-school children, adolescents an...",COL,Colombia,2017,7.35868,Rate of out-of-school adolescents and youth of...,8.51505,Rate of out-of-school children of primary scho...,5.90496,COL,14.7
30,"Rate of out-of-school children, adolescents an...",BRN,Brunei Darussalam,2017,8.43302,Rate of out-of-school adolescents and youth of...,12.09012,Rate of out-of-school children of primary scho...,3.78184,BRN,10.5
31,"Rate of out-of-school children, adolescents an...",BLZ,Belize,2017,10.27449,Rate of out-of-school adolescents and youth of...,18.98195,Rate of out-of-school children of primary scho...,1.10702,BLZ,14.2
32,"Rate of out-of-school children, adolescents an...",BRB,Barbados,2017,5.23404,Rate of out-of-school adolescents and youth of...,0.24908,Rate of out-of-school children of primary scho...,9.48555,BRB,12.4
33,"Rate of out-of-school children, adolescents an...",VEN,Venezuela (Bolivarian Republic of),2017,16.43338,Rate of out-of-school adolescents and youth of...,19.53462,Rate of out-of-school children of primary scho...,13.92018,VEN,30.9
34,"Rate of out-of-school children, adolescents an...",QAT,Qatar,2017,6.24779,Rate of out-of-school adolescents and youth of...,12.17443,Rate of out-of-school children of primary scho...,1.74021,QAT,7.6
35,"Rate of out-of-school children, adolescents an...",BTN,Bhutan,2017,16.52545,Rate of out-of-school adolescents and youth of...,15.48921,Rate of out-of-school children of primary scho...,17.41901,BTN,30.8
36,"Rate of out-of-school children, adolescents an...",GTM,Guatemala,2017,29.82372,Rate of out-of-school adolescents and youth of...,48.13072,Rate of out-of-school children of primary scho...,11.55852,GTM,27.6
37,"Rate of out-of-school children, adolescents an...",AUS,Australia,2017,2.10905,Rate of out-of-school adolescents and youth of...,1.20217,Rate of out-of-school children of primary scho...,2.83500,AUS,3.5
38,"Rate of out-of-school children, adolescents an...",CUB,Cuba,2017,5.43462,Rate of out-of-school adolescents and youth of...,7.64190,Rate of out-of-school children of primary scho...,3.04172,CUB,5.4
39,"Rate of out-of-school children, adolescents an...",DOM,Dominican Republic,2017,10.70464,Rate of out-of-school adolescents and youth of...,15.86069,Rate of out-of-school children of primary scho...,5.52979,DOM,29.9
40,"Rate of out-of-school children, adolescents an...",GHA,Ghana,2017,18.42912,Rate of out-of-school adolescents and youth of...,23.38460,Rate of out-of-school children of primary scho...,14.11932,GHA,49.3
41,"Rate of out-of-school children, adolescents an...",NOR,Norway,2017,2.08436,Rate of out-of-school adolescents and youth of...,4.30586,Rate of out-of-school children of primary scho...,0.16893,NOR,2.6
42,"Rate of out-of-school children, adolescents an...",MYS,Malaysia,2017,11.79871,Rate of out-of-school adolescents and youth of...,21.72850,Rate of out-of-school children of primary scho...,1.23454,MYS,7.9
43,"Rate of out-of-school children, adolescents an...",PAK,Pakistan,2017,46.09597,Rate of out-of-school adolescents and youth of...,59.86423,Rate of out-of-school children of primary scho...,29.39304,PAK,74.9
44,"Rate of out-of-school children, adolescents an...",LVA,Latvia,2017,2.18054,Rate of out-of-school adolescents and youth of...,2.18362,Rate of out-of-school children of primary scho...,2.17788,LVA,4.2
45,"Rate of out-of-school children, adolescents an...",MAR,Morocco,2017,13.07011,Rate of out-of-school adolescents and youth of...,23.26956,Rate of out-of-school children of primary scho...,3.34856,MAR,23.3
46,"Rate of out-of-school children, adolescents an...",CIV,Côte d'Ivoire,2017,36.16957,Rate of out-of-school adolescents and youth of...,57.29324,Rate of out-of-school children of primary scho...,15.08671,CIV,88.8
47,"Rate of out-of-school children, adolescents an...",ATG,Antigua and Barbuda,2017,19.99191,Rate of out-of-school adolescents and youth of...,23.50154,Rate of out-of-school children of primary scho...,17.37595,ATG,7.4
48,"Rate of out-of-school children, adolescents an...",VCT,Saint Vincent and the Grenadines,2017,4.54130,Rate of out-of-school adolescents and youth of...,7.73983,Rate of out-of-school children of primary scho...,2.20901,VCT,16.2
49,"Rate of out-of-school children, adolescents an...",TGO,Togo,2017,26.78281,Rate of out-of-school adolescents and youth of...,43.07798,Rate of out-of-school children of primary scho...,11.26805,TGO,72.9
50,"Rate of out-of-school children, adolescents an...",COM,Comoros,2017,28.00023,Rate of out-of-school adolescents and youth of...,39.64952,Rate of out-of-school children of primary scho...,16.40568,COM,69.0
51,"Rate of out-of-school children, adolescents an...",MNE,Montenegro,2017,7.56742,Rate of out-of-school adolescents and youth of...,9.71277,Rate of out-of-school children of primary scho...,4.06977,MNE,3.5

In [156]:
final_df[['Country','CountryCode','Both','Primary','Secondary','Mortality']].to_csv('Inputs/alleducationandmortality.csv')

In [53]:
primary=pd.read_csv("Inputs/EDULIT_DS_Primary.csv")

In [54]:
secondary=pd.read_csv("Inputs/EDULIT_DS_Secondary.csv")

In [ ]:
out_of_school_females['Indicator'].unique()